<form method="POST">
  {% comment %}
    csrf_tokenは必ずformタグの中に書く
  {% endcomment %}
  {% csrf_token %}
  {{ form.non_field_errors }}

  {% if form.errors %}
    {% for key, values in form.errors.items %}
      <p>{{key}}: {{values}}</p>
    {% endfor %}
  {% endif %}

  {{ form.name.label }}: {{ form.name }}
  {% if form.name.errors %}
    <div style="color:red">
      {{ form.name.errors.as_text }}
    </div>
  {% endif %}
  {{ form.title.label }}: {{ form.title }}
  {% if form.title.errors %}
    <div style="color:red">
      {{ form.title.errors.as_text }}
    </div>
  {% endif %}
  {{ form.memo.label }}: {{ form.memo }}
  {% if form.memo.errors %}
    <div style="color:red">
      {{ form.memo.errors.as_text }}
    </div>
  {% endif %}
  <input type="submit" value="送信">
</form>