{% load event_tags %}

{% comment %} <h1>Name: {{ my_name }}</h1>
<h2>果物: {{ favorite_fruits }}</h2>
<h3>Age: {{ my_info.age }}</h3> {% endcomment %}

{# for #}
<ul>
  {% for fruit in favorite_fruits %}
      <li>{{ fruit }}</li>
  {% endfor %}
</ul>

{# if #}
{% if 'banana' in favorite_fruits %}
  <p>Bananaあります</p>
{% elif 'lemon' in favorite_fruits %}
  <p>Lemonあります</p>
{% else %}
  <p>Not Found</p>
{% endif %}

{% if 'age' in my_info %}
  <p>age in my_info</p>
{% endif %}

<p>{{ status | status_to_string }}</p>