{% load static %}
<link rel="stylesheet" href="{% static 'download/home.css' %}" />

<h1>{{ name | upper }}</h1>
<h1>{{ page_url | urlize }}</h1>
<p>BMI: {{ bmi | floatformat:2 }}</p>
<p>給料: {{ salary | default:'秘密' }}</p>
<p>{{ favorite_fruits | random | lower }}</p>
<p>{{ favorite_fruits | join:', ' }}</p>
<p>{{ msg | linebreaks }}</p>
<p>{{ msg2 | truncatechars:7 }}</p>

<a href="{% url 'template_app:home' first_name='Saburo' last_name='Konishi' %}">home</a>

<img src="{% static 'download/sample.jpg' %}" />